body{
  margin: 0;
}

li{
  list-style: none;
  padding-bottom: 15px;
  font-size: 25px;
}

header{
  text-align: center;
}
.main{
  border: 2px solid orange;
  width: 80%;
  margin: 100px auto;
}
.containar{
  background-color:whitesmoke;
  text-align: center;
  margin:0 auto;
  width: 65%;
}
.title{
  border-bottom:2px solid silver;
  text-align: center;
  font-style: bold;
  font-size: 45px;
}
.sub-title{
  font-size:40px;
  color:steelblue;
}
.content{
  margin-top:80px;
}
.content p{
  font-size: 20px;
  padding-bottom: 10px;
}
.twitter{
  margin: 50px 0px;
}
.twitter h1{
  color: deepskyblue;
  border-bottom: 1px solid deepskyblue;
  width:20%;
  margin: 0px auto;
}
