body{
  font-family:'Courier';
  margin:0;
  background-color:snow;
}
li{
  list-style:none;
}

.main-top{
  height:100%;
  width:100%;
  background-image:url(https://vps8-d.kuku.lu/files/20180813-1109_93bea8b12f7888dbc47246bed3f0704c.jpeg);
  background-size: cover;
}
.top-head{
  line-height:80px;
  width:100%;
}
.head-left{
  font-size:29px;
  float:left;
  padding-left:20px;
  color:teal;
}
.head-right a{
  color:grey;
  float:right;
  padding:0px 25px 0px 10px;
}
.head-right a:hover{
  opacity:0.9;
  border-bottom: 1px solid teal;
}
.top-center{
  text-align: center;
  padding-top:320px;
}
.top-center h1{
  font-size: 75px;
  color:white;
  letter-spacing: 7px;
}
.top-center input{
  padding:15px 200px;
  background-color:white;
  font-size:35px;
  text-align:left;
  margin-top: 20px;
}
/*ここからメインアンダー*/
.main-under{
  height:800px;
}
.under-containar{
  margin:20px 100px 40px 100px;
}
.under-content{
  width: 100%;
  margin: 20px 10px;
  border-radius: 10px;
  height:380px;
  width:300px;
  float: left;
}

.account-left{
  float: left;
}
.account-right{
  float: right;
}

.content-photo{
  border: 2px solid teal;
  border-radius: 10px;
  height: 200px;
  width:95%;
  margin:40px auto 10px auto;
}
.content-sentence{
  margin-left: 5px;
  font-size: 15px;
}
/*ここからフッター*/
.footer{
  border-top: 1px solid teal;
  line-height:100px;
  width:100%;
  color:teal;
  margin-top: 40px;
}
.footer P{
  padding-left: 20px;
  font-size: 30px;
  display: inline-block;
  float:left;
}
.footer a{
  float: right;
  padding:20px 25px 0px 10px;
  display: inline-block;
  color: teal;
}
